.set-card {
    max-width: 800px;
    width: 100%;
    background-color: #555555;
    margin-bottom: 0.75rem;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
}

.set-title {
    font-size: clamp(1rem, 5vw, 1.5rem);
    color: white;
    padding-top: 0.25rem;
}

.kanji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
    padding-bottom: 0.25rem;
}

.kanji {
    padding: 0.25rem 0.25rem;
    font-size: clamp(1rem, 5vw, 1.5rem);
}