.learn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    width: 800px;
}

.learn-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    text-align: center;
    gap: 1rem;
}

.sets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}